@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
body {
    background-color: #ECDFCC;
}
.section-1 {
    height: 400px;
    background-image: url('/Images/Background.png'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container {
    display: flex;
    gap: 15px;
    align-items: flex-end;
    height: 300px;
}

.input-container input,
.input-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
}

.input-container input {
    background-color: #ECDFCC; 
}

.input-container input::placeholder {
    color: #fff;
}

.input-container button {
    background-color: #284659; 
    color: #fff;
}

.input-container button:hover {
    transform: scale(0.9);
}
/* Section 2*/
.section-2 {
    padding: 50px 0;
    text-align: center;
}

.section-2 h2 {
    margin-bottom: 30px;
    font-size: 2em;
    color: #333;
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 30px;  
    flex-wrap: wrap;
}

.image-card {
    display: flex;
    flex-direction: column; 
    /* align-items: center;  */
    background-color: #ECDFCC;
    border-radius: 15px;
    padding: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.image-card img {
    width: 250px;
    height: 390px;
    border-radius: 10px;
}

.image-card button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4a3629; /* Dark brown */
    border: none;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 412px) {
    .section-1 {
        height: auto;
        padding: 20px 0;
        background-image: url('/Images/backgroun2.png'); 
    }

    .input-container {
        margin-top: 30px;
        flex-direction: column;
        width: 60%; 
        align-items: center; 
    }

    .input-container input,
    .input-container button {
        width: 90%; 
    }
    .image-container {
        flex-direction: column; 
        align-items: center;
    }

    .image-card img {
        width: 100%; 
        height: auto; 
    }

    .image-card button {
        width: 90%;  
}
}