body { 
    margin: 0;
    padding: 0;
    font-family: Outfit;
    background-color: #FCFAEE;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

/* gastronomie -*/
.gastronomie {
    padding: 50px 0;
    text-align: center;
}

.gastronomie h2 {
    margin-bottom: 30px;
    color: #333;
} 

/* (radio buttons as selectors) */
.gastronomie-nav {
    width: fit-content;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
}

.gastronomie-nav label {
    position: relative;
    width: 69px;
    text-align: center;
    color: #5D5D5D;
    cursor: pointer;
    list-style: none;
    font-size: 1.5em;
    font-weight: bold;
}

input[type="radio"] {
    display: none;
}

/* Highlight the active label with underline */
input[type="radio"]:checked + label {
    color: #000;
}

input[type="radio"]:checked + label::after {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background-color: #000;
    margin-top: 5px;
}
/* Hide all images by default */
.images {
     display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
} 

.images img {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    position: relative;
} 

img:hover{
        transform: scale(1.05);
}
.gastronomie-img {
    position: relative;
    display: none;
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.gastronomie-img::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000e1;
    top: 0;
    left: 0;
    z-index: 99;
    border-radius: 30px;
}


/* Show images when corresponding radio button is selected */
#plat:checked ~ .images .plat-img,
#boisson:checked ~ .images .boisson-img,
#sweet:checked ~ .images .sweet-img,
#autre:checked ~ .images .autre-img {
    display: block;
}

.gastronomie-nav label:hover {
    color: #284659;
}

input[type="radio"] {
    display: none;
}



/* Gastronomie Images Grid */

@media(max-width: 412px) {
    .gastronomie-nav {
        position: sticky;
        top: 0; 
        background-color: #FCFAEE;
        z-index: 10;
        padding-bottom: 5%;
    }
    .titre {
        font-size: 2rem;
    }
    .images {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;

    }
}




    
    


    
