@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap');

body{
    margin:0;
    border: 0;
}
.hero{
    
    height: 800px;
    background-image: url("/Images/herosec.png");
    background-repeat:no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero__text{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Outfit;
    font-weight: 600;
}
.hero__button{
    height: 50px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.hero_first_text{
    width: 400px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}
button {
    width: 200px;
    padding: 20px 40px;
    border: none;
    border-radius: 30px;
    background-color: #284659; 
    color: #fff;
    font-size: 20px;
}
button:hover {
    transform: scale(1.1);
}
.history{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    line-height: 30px;
    flex-wrap: wrap;
}
.history_text{
    width: 600px;
}
@media all and (max-width: 412px){
    .hero{
        height: 800px;
        background-image: url("/Images/herophone.png");
        background-size: contain;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .hero_first_text{
        width: 80%;
        font-size: 15px;
        text-align: center;
        line-height: 20px;
    }
    
}