@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap');

.bg-primary { background-color: #284659; }
.bg-secondary { background-color: #7799A6; }
.bg-light { background-color: #FCFAEE; }
.bg-cream { background-color: #ECDFCC; }
.bg-orange { background-color: #DA8359; }
.bg-brown { background-color: #A66E4E; }
.bg-dark-brown { background-color: #592D14; }
.bg-dark-gray { background-color: #54473F; }


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
    padding-left: 40px;
    padding-right: 60px;
} 

.searchbar {
    background-color: #ECDFCC;
    border: none;
    border-radius: 30px;
    padding: 16px;
    width: 300px;
    height: 40px;
    font-size: 20px;
    background-image: url("/icons/search.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
}

.navlist {
    width: 800px;
    font-size: 30px;
}

.navlist a {
    text-decoration: none;
    color: black;
    font-family: Outfit;
    font-weight: 800;
}

.searchbar::placeholder {
    color: white;
    font-size: 16px;
    font-weight: 600;
    font-family: Outfit;
}

.burgermenu {
    display: none;
}

.footersection {
    padding: 20px 100px;
}

.copyright {
    border-top: 1px solid white;
    padding: 10px;
    font-size: 16px;
}


@media only screen and (max-width: 950px) {

    .logo {
        width: 100px;
    }

    .navlist {
        display: none;
    }

    .searchbar {
        width: 200px;
        height: 20px;
    }

    .burgermenu {
        display: block;
    }

    .footer_logo {
        display: none;
    }

    .footersection {
        padding: 20px 80px;
    }

}