body{
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;
    background-color: #FCFAEE;
}

 .hero {
        margin-top: 140px;
        
    }
    
    .hero ul {
        position: relative;
        width: fit-content;
        margin: auto;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        gap: 30px;
        padding: 0;
        padding-bottom: 10px;
        border-bottom: 1px solid black;
        margin-bottom: 30px;
        
    }
    
    .hero ul li {
        position: relative;
        width: 69px;
        text-align: center;
        color: #9e0f0f;
        cursor: pointer;
        list-style: none;
    }
    .hero ul li.active,
    .hero ul li:hover {
        color: black;
        
    }
    
    .titre {
        font-size: 3rem;
        text-align: center;
    }
    img{
        width: 300px;
        height: 300px;
        border-radius: 20px;
        
    }
    .menu{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        margin-bottom: 20px;
    }

    .repas {
        position: relative;
    }
    .repas:hover div {
        display: block;
    }
    .repas div{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        color: white;
        background-color: gray;
        width: 100%;
        height: 100%;
        opacity: 0.7;
    }
    


    
    